<p>
    <div class="text"><%= HackumassWeb::Application::HACKATHON_NAME %> will be fully online this year.</div>
</p>
<p>
    <div class="text">
        The event will be held fully online. The HackHer413 team will get in contact with you as the event date approaches with more information on how to participate.
    </div>
</p>
<p>
    <div class="text">If you have any questions, ask us at <%= HackumassWeb::Application::CONTACT_EMAIL %> </div>
</p>
<br>
