<div class="card">
    <div class="card-status bg-dark"></div>
    <div class="card-header">
        <h3 class="card-title">Communication</h3>
    </div>
    <div class="card-body d-flex flex-column">
        <p>The <%= HackumassWeb::Application::HACKATHON_NAME %> will get in contact with you about logistics closer to the event date!</p>
    </div>
</div>